.featured {
  /* border: 1px cyan solid; */
  margin: 400px 15% 400px;
  text-align: left;
}

.featured h1 {
  margin-bottom: 30px;
}

.featured img {
  width: 70%;
}

.tasksai-container {
  width: 70%;
  display: flex;
}

.tasksai-container img {
  width: 25%;
}

.latch {
  display: flex;
  align-items: center;
  margin: 0px 0px 100px;
}

.title {
  font-size: 1.4rem;
}

.desc {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 26%;
  right: 200;
  background-color: #0f0933;
  padding: 20px;
  text-align: right;
  border-radius: 5px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
  transition: transform 0.2s ease-in-out;
}

.proj-main {
  margin: 15px 0px 0px;
}

.desc:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0px white;
  cursor: default;
}

.title {
  text-shadow: rgb(199, 255, 254) 1px 0 10px;
}

.title-gh img {
  width: 25px;
  filter: invert(86%) sepia(3%) saturate(3257%) hue-rotate(177deg)
    brightness(101%) contrast(96%);
}

.techs-used {
  list-style: none;
  display: flex;
  justify-content: center;
}

.techs-used li {
  font-size: 0.6rem;
  margin: 20px 5px 0px;
  color: rgb(95, 180, 255);
}

.tasksai-links a {
  margin: 0px 5px;
}

.title-gh {
  display: flex;
  justify-content: space-between;
}

.featured a {
  text-decoration: none;
}
