/* .footer {
  border-top: 1px solid rgb(28, 32, 34);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0% 5%;
}

.footer span {
  color: rgb(28, 32, 34);
} */

.footer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer-hr {
  display: block;
  width: 30%;
  height: 1px;
  border: 0;
  border-top: 0.5px solid #2c2c57;
  margin: 1em 0;
  padding: 0;
}

#author {
  white-space: nowrap;
  margin: 0px 20px;
  color: #2c2c57;
}
