.hero {
  margin: 250px 0px;
  /* border: lime 1px solid; */
  width: 40%;
  text-align: center;
  display: inline-block;
  /* transition: opacity 0.5s; */
  /* opacity: 0; */
  /* transition: all 2s; */
}

.hero h1 {
  text-shadow: rgb(199, 255, 254) 1px 0 10px;
  font-size: 4rem;
}

.hero span {
  font-size: 1.2rem;
}

#bold {
  color: #0087ca;
}
